<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.4party" >
        <activity
            android:name=".IntefaceAPP.MostrarValores"
            android:exported="false" />
        <activity
            android:name=".IntefaceAPP.Condiciones"
            android:exported="false" />
        <activity
            android:name=".IntefaceAPP.CarritoEmpty"
            android:exported="false" />
        <activity
            android:name=".IntefaceAPP.CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".IntefaceAPP.Qr"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDWSDjGo0_cBl3C5R74dzzvkITrSnNp3m4" />

        <activity
            android:name=".IntefaceAPP.MapsActivity2"
            android:exported="false"
            android:label="@string/title_activity_maps2" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".IntefaceAPP.EditProfile"
            android:exported="false" />
        <activity
            android:name=".IntefaceAPP.CrearOfeta"
            android:exported="false" />
        <activity
            android:name=".IntefaceAPP.LocalesActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInOutBusiness.RegisterBusiness" />
        <activity android:name=".LogInOutBusiness.LogInBusiness" />
        <activity android:name=".LogInOutUser.Register_activity" />
        <activity android:name=".LogInOutUser.Login_activity" />
        <activity android:name=".IntefaceAPP.ShowOffert" />
        <activity
            android:name=".IntefaceAPP.HOME_ACTIVITY"
            android:exported="false" />
    </application>

</manifest>